<h2>My Heroes</h2>
<div>
    <label
        >Hero name:
        <!-- Had to switch to ngModel instead of this shorthand way so that the ts code could reference the variable -->
        <!-- <input #heroName (keyup)="inputKeyUp($event)" /> -->
        <input [(ngModel)]="heroName" (keyup)="inputKeyUp($event)" />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <!-- This was removed for the same reason as above -->
    <!-- <button class="add" (click)="add(heroName.value); heroName.value = ''">
        add
    </button> -->
    <button class="add" (click)="add(heroName); heroName = ''">
        add
    </button>
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/toh/detail/{{ hero.id }}">
            <span class="badge">{{ hero.id }}</span> {{ hero.name }}
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">
            x
        </button>
    </li>
</ul>
